.detailcontainer {
    margin: 0 30px;
    padding: 20px;
    width: 100%;
    height: 85vh;
    box-shadow: 0px 8px 14px -5px #00000050;
    border-radius: 10px;
}

.headernumber {
    display: flex;
    justify-content: space-between;
    color: #566738;
    font-weight: 800;
    margin-bottom: 20px;
}

.headerorder {
    color: #849a83;
    margin-bottom: 10px;
}

.list {
    display: flex;
    gap: 20px;
}

.detail {
    color: #120d2670;
    margin-bottom: 5px;
}

.sublist {
    margin-top: 5px;
    margin-left: 30px;
    display: flex;
    gap: 20px;
}

.paymentdetail {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 30px;
}

.checkbutton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #e2e2e2;
    border-radius: 50%;
}
.checkedbutton {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #ffffff;
    background-color: #738c72;
    border-radius: 50%;
}

.backgroundslider {
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: #738c7240;
    margin-bottom: 10px;
}

.slider {
    height: 5px;
    border-radius: 15px;
    background-color: #738c72;
}

.statusicon {
    font-size: 24px;
}

.statuslabel {
    font-size: 12px;
}

.headerordertracking {
    color: #849a83;
    margin: 5px 0;
}
